body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    overflow: hidden;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    z-index: -1;
}

.container {
    width: 80%;
    max-width: 900px;
    text-align: center;
    padding: 30px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    animation: fadeIn 2s ease-out;
}
.tagline{
    color: #000000;
    font-size: 1.5em;
    animation: slideIn 1.5s ease-out;
}
h1 {
    color: #11BC74;
    font-size: 3em;
    animation: slideIn 1.5s ease-out;
}

.prompt {
    font-size: 1.4em;
    font-weight: bold;
    color: #11BC74;
    animation: fadeIn 2s ease-out;
}

.buttons {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.scan-button {
    background: rgba(255, 255, 255, 0.2);
    color: white;
    border: 2px solid white;
    padding: 15px 30px;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.scan-button:hover {
    background: white;
    color: #11BC74;
    transform: scale(1.1);
}

.scan-status {
    margin-top: 20px;
    font-size: 1.2em;
}

.loading-spinner {
    display: none;
    width: 50px;
    height: 50px;
    border: 5px solid rgba(255, 255, 255, 0.2);
    border-top: 5px solid #11BC74;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin: 20px auto;
}

.notification {
    display: none;
    position: fixed;
    top: 20px;
    right: 20px;
    background: #11BC74;
    color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    z-index: 9999;  /* Increased z-index to ensure it stays above everything */
}

.notification.show {
    display: block;
    animation: fadeInOut 3s ease-in-out;
}


@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

@keyframes fadeInOut {
    0% { opacity: 0; transform: translateY(-20px); }
    20% { opacity: 1; transform: translateY(0); }
    80% { opacity: 1; }
    100% { opacity: 0; transform: translateY(-20px); }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideIn {
    from { transform: translateY(-50px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}
